<% system = deploy.system %>
<div class="span6 active-deploy" data-deploy-id="<%= deploy.id %>">
  <h2 class="system-name">
    <a href="/systems/<%== system.name %>"><%== system.name %></a>
    <span class="status">
      <a href="/deploys/<%= deploy.id %>">In progress</a> &middot;
      <span class="started-at">Started <span class="timer" data-timestamp="<%= deploy.started_at.to_i %>" data-format="(%?h:)%M:%S"><%= format_hms("(%?H:)%M:%S", deploy.duration) %></span> ago</span>
    </span>
  </h2>

  <div class="deploy-progress">
    <% if deploy.current_progress %>
      <p class="current-progress-wrapper">
        <span class="current-progress"><%== deploy.current_progress.step.description %></span>&hellip;
      </p>
    <% end %>

    <div class="deploy-progress-bar progress progress-striped active">
      <div class="bar" style="width: <%== deploy.progress_percentage %>%;"></div>
    </div>
  </div>

  <ul class="step-details" style="display: none">
  <% deploy.system.steps.each do |step| %>
    <li class="<%= deploy.at_step?(step) ? 'active' : '' %>"><%== step.description %></li>
  <% end %>
  </ul>
</div>