<tr class="<%= progress.active ? 'active' : '' %>">
  <td><%== progress.step.description %></td>
  <td>
    <% if progress.active %>
    <span class="timer" data-timestamp="<%= progress.started_at.to_i %>" data-format="(%?Hh) %Mm %Ss">
      <%= format_hms("(%?Hh) %Mm %Ss", progress.duration) %>
    </span>
    <% else %>
    <%= format_hms("(%?Hh) %Mm %Ss", progress.duration) %>
    <% end %>
  </td>
</tr>