<tr>
  <% if include_system %>
  <td><a href ="/systems/<%= deploy.system.name %>"><%= deploy.system.name %></a></td>
  <% end %>
  <td><a href="/deploys/<%= deploy.id %>"><%= deploy.id %></a></td>
  <td>
    <span class="label <%= display_label(deploy) %>">
      <%= deploy.status_label %>
    </span>
  </td>
  <td><%= deploy.finished_at %></td>
  <td><%= format_hms("(%?Hh) %Mm %Ss", deploy.duration) %></td>
</tr>