<div class="row deploy <%= "active" if @deploy.active %>" data-deploy-id="<%= @deploy.id %>">
  <h2 class="span12"><%== @deploy.system.name %> Deploy <%= @deploy.id %></h2>

  <div class="span12 deploy-overview">
    <% if @deploy.active %>
      <%= partial(:deploy_overview_active, :locals => {:deploy => @deploy }) %>
    <% else %>
      <%= partial(:deploy_overview_inactive, :locals => {:deploy => @deploy }) %>
    <% end %>
  </div>

  <table class="span12 table table-bordered">
    <thead>
      <tr>
        <th class="span9">Step</th>
        <th class="span3">Duration</th>
      </tr>
    </thead>

    <tbody class="steps">
      <% @deploy.progresses.each do |progress| %>
        <%= partial(:deploy_progress_row, :locals => {
          :progress => progress
        }) %>
      <% end %>
      <% @future_steps.each do |step| %>
        <%= partial(:deploy_step_row, :locals => {
          :step => step
        }) %>
      <% end %>
    </tbody>
  </table>

</div>