<tr>
  <% if include_system %>
  <td><a href ="/systems/<%== deploy.system.name %>"><%== deploy.system.name %></a></td>
  <% end %>
  <td><a href="/deploys/<%= deploy.id %>"><%= deploy.id %></a></td>
  <td>
    <span class="label <%= result_label_css_class(deploy) %>">
      <%= deploy.status_label %>
    </span>
  </td>
  <td>
    <% if deploy.active %>
      <span>&ndash;</span>
    <% else %>
      <span class="local-time" data-timestamp="<%= deploy.finished_at.to_i %>"><%= deploy.finished_at %></span>
    <% end %>
  </td>
  <td>
    <span class="<%= 'timer' if deploy.active %>" data-timestamp="<%= deploy.started_at.to_i %>" data-format="(%?Hh) %Mm %Ss"><%= format_hms("(%?Hh) %Mm %Ss", deploy.duration) %>
  </td>
</tr>