<div class="row active-deploys" style="margin-bottom: 20px" data-updated-at="<%= Time.now.to_i %>">
  <h2 class="span12">Active Deploys</h2>
<% @active_deploys.each do |deploy| %>
  <%= partial(:active_deploy, :locals => {:deploy => deploy})%>
<% end %>

  <div id="no-active-deploys" class="span12 well" style="<%= 'display: none' unless @active_deploys.empty? %>">
    There are currently no active deploys.
  </div>
</div>

<div class="row">
  <h2 class="span12">Recent Deploys</h2>
  <table class="span12 table table-bordered recent-deploys" data-updated-at="<%= Time.now.to_i %>">
    <thead>
      <tr>
        <th>System</th>
        <th>Deploy</th>
        <th>Result</th>
        <th>Finished</th>
        <th>Duration</th>
      </tr>
    </thead>

    <tbody>
    <% @past_deploys.each do |past_deploy| %>
      <%= partial(:deploy_row, :locals => {:include_system => true, :deploy => past_deploy} ) %>
    <% end %>
    </tbody>
  </table>
</div>