<% @systems.each do |system| %>
  <h2><%= system.name %></h2>
  <% if system.active_deploy %>
    <% deploy = system.active_deploy %>
    <h3>Deploy <%= deploy.id %> in progress</h3>
    <% if deploy.current_progress %>
      <h3 data-started-at="<% deploy.current_progress.started_at.to_i %>"><%= deploy.current_progress.step.description %>&hellip;</h3>
    <% end %>

    <div class="progress-bar-wrapper">
      <div class="progress-bar" style="width: <%= deploy.progress_percentage %>%"></div>
    </div>

    <ul>
    <% deploy.system.steps.each do |step| %>
      <li class="<%= deploy.at_step?(step) ? 'active' : '' %>"><%= step.description %></li>
    <% end %>
    </ul>
  <% else %>
    <h3>No deploy in progress</h3>
  <% end %>
<% end %>