<div class="row">
  <h2 class="span12"><%== @system.name %></h2>

  <div class="span6">
    <h2 class="section-header">Deploy Steps</h2>

    <table class="table table-condensed step-list">
      <thead>
        <tr>
          <th>Description</th>
          <th>Completion Rate</th>
        </tr>
      </thead>

      <% @system.steps.each do |step| %>
      <tr>
        <td><%== step.description %></td>
        <td><%== format_percent(@step_stats.completion_rate_for_step(step), 1) %>%</td>
      </tr>
      <% end %>
    </table>

    <p><em>Data is based on trailing 100 deploys.</em></p>
  </div>

  <div class="span6">
    <h2 class="section-header">Deploy Statistics</h2>
    <h4>Outcome</h4>
    <div class="deploy-outcomes">
      <%== @stats.num_complete_deploys %> <span class="label label-success">Complete</span> &middot;
      <%== @stats.num_failed_deploys %> <span class="label label-important">Failed</span>
    </div>

    <h4>Duration</h4>
    <ul class="deploy-durations">
      <li>Median: <%== format_hms("(%?Hh) %Mm %Ss", @stats.median_duration.round) %></li>
      <li>Average: <%== format_hms("(%?Hh) %Mm %Ss", @stats.avg_duration.round) %></li>
    </ul>
  </div>

  <div class="span12">
    <h2 class="section-header">Recent Deploys</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Deploy</th>
          <th>Result</th>
          <th>Finished</th>
          <th>Duration</th>
        </tr>
      </thead>

      <tbody>
      <% @recent_deploys.each do |recent_deploy| %>
        <%= partial(:deploy_row, :locals => {:include_system => false, :deploy => recent_deploy} ) %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>